@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Vazir';
  src: url('/public/font/Vazir-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Vazir';
  src: url('/public/font/Vazir.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Vazir';
  src: url('/public/font/Vazir-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Vazir';
  src: url('/public/font/Vazir-Bold.ttf');
  font-weight: 700;
}
